@import "./variables.scss";
@import "./mixins.scss";

@font-face {
    font-family: "Cursive1";
    src: url("../static-assets/fonts/cursive-1.woff2") format("woff2");
}

@font-face {
    font-family: "Cursive2";
    src: url("../static-assets/fonts/cursive-2.woff2") format("woff2");
}

@font-face {
    font-family: "Elegant1";
    src: url("../static-assets/fonts/elegant-1.woff2") format("woff2");
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
header {
    background-color: transparent;
    position: absolute;
    z-index: 99;
    color: white;
    width: 100%;

    .header-content-dweb {
        display: none;

        @include lg {
            height: 60px;
            display: flex;
            justify-content: center;

            .header-block {
                height: 40px;
                width: 80%;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                display: flex;
                justify-content: space-around;
                margin-top: 10px;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: white;
                    text-decoration: none;

                    .nav-button {
                        display: inline-flex;
                        align-items: center;
                        font-family: "Elegant1";
                        font-size: 12px;
                        color: white;

                        font-size: 24px;
                    }
                }
            }
        }
    }

    .header-content-mweb {
        @include lg {
            display: none;
        }
        .nav-header {
            height: 93px;

            #nav-icon {
                width: 40px;
                height: 45px;
                position: fixed;
                z-index: 4;
                right: 0;
                margin: 24px 16px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }

            #nav-icon span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: white;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }
            #nav-icon {
                span {
                    &:nth-child(1) {
                        top: 0px;
                    }
                    &:nth-child(2) {
                        top: 10px;
                    }
                    &:nth-child(3) {
                        top: 10px;
                    }
                    &:nth-child(4) {
                        top: 20px;
                    }
                }
            }
            #nav-icon.open {
                span {
                    background-color: rgb(40, 40, 40);
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }

        .nav-wrapper {
            position: fixed;
            top: 0;
            height: 100vh;
            right: -70%;
            background-color: rgb(200, 200, 200);
            width: 70%;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            opacity: 0;

            .nav-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 160px;
                margin-left: 40px;

                a {
                    margin-bottom: 40px;
                    text-decoration: none;
                    color: #333333;
                    font-size: 1.5rem;
                }
            }
            &.open {
                right: 0;
                opacity: 1;
            }
        }
    }
}

.main-content {
    .hero {
        height: 100vh;
        width: 100%;
        /* The image used */
        background-image: url("../static-assets/images/GS-hero.jpeg");

        /* Create the parallax scrolling effect */
        background-attachment: local;
        background-position: -680px bottom;
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            background-position: center;
        }

        .hero-blanket {
            height: 100vh;
            width: 100%;
            position: absolute;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .title {
            font-family: "Cursive2";
            color: white;
            font-size: 40px;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;

            @include lg {
                font-size: 80px;
            }
        }
    }

    .fairytale {
        width: 100%;
        background-color: rgb(48, 48, 3);

        .tale-title {
            color: white;
            font-family: "Cursive1";

            h2 {
                margin: 0;
                padding: 20px 0;
                text-align: center;
                font-size: 44px;
            }
        }

        /* The actual timeline (the vertical ruler) */
        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            padding: 16px 0 16px 0;

            &::after {
                content: "";
                position: absolute;
                width: 4px;
                background-color: white;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(50%);
            }
        }
        /* Container around content */
        .container {
            position: relative;
            background-color: inherit;
            width: 50%;
            margin-bottom: 40px;
            width: 175px;

            /* The actual content */
            .content {
                position: relative;
                border-radius: 6px;
                font-family: "Elegant1";

                h2 {
                    color: white;
                    margin: 10px 0px;
                }

                .tale-image {
                    border: 12px solid white;
                    width: 100%;
                    height: 250px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }

                .tale-brief {
                    position: absolute;
                    top: 80px;
                    width: 175px;
                    color: white;
                }
            }
        }

        /* The circles on the timeline */
        .container::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            right: -17px;
            background-color: white;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

        /* Place the container to the left */
        .left {
            left: calc(50% - 175px - 16px);

            &::after {
                left: calc(100% + 5px);
            }

            .tale-brief {
                right: calc(-175px - 16px - 4px - 16px);
            }
        }

        /* Place the container to the right */
        .right {
            left: calc(50% + 6px + 16px);

            .content {
                h2 {
                    text-align: right;
                }
            }

            .tale-brief {
                right: calc(177px + 16px + 16px);
            }

            &::after {
                right: calc(100% + 3px);
            }
        }
    }

    .gallery {
        background-color: rgb(40, 40, 40);

        .gallery-title {
            font-family: "Cursive2";
            font-size: 40px;
            text-align: center;
            color: rgb(200, 200, 200);
            padding: 0px 16px;

            h2 {
                margin-top: 0;
                padding-top: 56px;
            }
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }

        /* Create four equal columns that sits next to each other */
        .column {
            flex: 50%;
            max-width: 50%;
            padding: 0 4px;
        }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @include lg {
            .column {
                flex: 25%;
                max-width: 25%;
            }
        }
    }
}
